@use 'base/variables' as v;
@use 'base/mixins' as m;

.main {
    background-color: v.$grisFondo;
    height: auto;
    padding-bottom: 2rem;

    &__contenedor {
        @include m.contenedor;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 2rem;
        padding: 2rem 0 5rem 0;

        @include m.tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__intro {}

    &__h1 {
        color: v.$principal;
    }

    &__h2{
        margin-top: 1.5rem;
    }

    &__p {
        margin: 1rem 0 0 0;
    }

    &__crear {}

    &__filtros{
        @include m.contenedor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        gap: 3rem;
        @include m.tablet{
            gap: 0;
        }
    }

    &__editar {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__editarc {
        font-weight: v.$bold
    }

    &__btn {
        //main_btn (Botón Regresar) (Editar.php, crear.php, Cargar/ Editar Copia)
        @include m.botonDos(v.$principal, v.$blanco);
        @include m.sombraBTN;
        &:hover{
            color: v.$principal;
        }
        @include m.tablet {
            width: auto;
        }
        //Btn Crear Equipo (equipo.php)
        &--c {
            background-color: v.$principal;
        }
        //Btn Editar /Cargar Copia (incremental.php)
        &--e {
            background-color: v.$amarillo;
            border-color: v.$amarillo;
            &:hover{
                color: v.$amarillo;
            }
        }
        //Btn Borrar Filtro (copias.php)
        &--bf{
            background-color: v.$gris;
            border-color: v.$gris;
            font-size: 1.4rem;
            width: auto;
            padding: 1.5rem;
            &:hover{
                color: v.$gris;
            }
            @include m.tablet{
                font-size: 1.8rem;
                padding: 1.5rem 4rem;
            }
        }
        //Btn Descargar Informes Diarios (Incremental.php)
        &--d{
            background-color: v.$cafe;
            border-color: v.$cafe;
            width: auto;
            &:hover{
                color: v.$cafe;
            }
        }
        //Btn Descargar Informes Mensuales (Incremental.php)
        &--m{
            background-color: v.$azulMensual;
            border-color: v.$azulMensual;
            width: auto;
            &:hover{
                color: v.$azulMensual;
            }
        }
    }

    &__fi{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__f{
        // font-weight: v.$bold;
    }

    &__h6{
        font-weight: v.$bold;
        font-size: 1.9rem;
    }

    &__descargarI{
        @include m.contenedor;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
        align-items: center;

        @include m.tablet{
            flex-direction: row;
            gap: 2rem;
            margin-top: 0;
        }
    }
}