// Fuentes
$fuente-principal: "Public Sans", sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$xl-tablet: 800px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$principal: #ED241C;
$rojoPDF: #b30a01;
$principalDark: #7F130F;

$negro: #1a1b15;
$blanco: #FFFFFF;
$grisFondo: #F5F5F5;
$gris: #404040;
$grisClaro: #D9D9D9;
$grisOscuro: #1E293B;
$grisTr: #919191;
$amarillo: #EDC51C;
$amarilloLight: #EEFF00;
$verde: #1CED65;
$verdeExcel: #107c41;
$verdeDark: #459862;
$verdeC: #75C251;
$azul: #1C22ED;
$azulMensual: #0064ff;
$azulLigth: #007DF4;
$vinoTinto: #984845;
$cafe: #BE934F;


// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900