@use 'base/mixins' as m;
@use 'base/variables' as v;

.cards{
    @include m.contenedor;
}

.card{
    @include m.sombra;
    padding: 2rem;
    border-radius: 1rem;
    &__grid{
        @include m.grid(1, 1rem);
        justify-items: center;
        @include m.tablet{
            @include m.grid(2, 1rem);
            align-items: center;
        }
    }

    &__img-Div{

    }

    &__img{
        border-radius: 1rem;
    }

    &__contenido{
        margin-left: 0;
        @include m.tablet{
            margin-left: 1.5rem;
        }
    }

    &__h3{

    }

    &__p{

        &--guia{
            @extend .card__p;
        }
    }

    &__span{
        font-weight: bold;
        color: v.$principal;
    }
    
    &__h4{

    }

    &__a{
        @include m.botonDos(v.$principal, v.$blanco);
        width: auto;
    }
}
