@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario-copia {

    @include m.contenedor-sm;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    
    @include m.tablet {
        @include m.contenedor;
    }

    &__input {

        &--check {
            @extend .formulario-copia__input;
            accent-color: v.$verdeDark;
            transform: scale(2);
            width: 10%;
            @include m.tablet {
                width: 40%;
            }
        }
    }

    &__textarea {
        resize: none;

        @include m.tablet {
            width: 100%;
        }
    }

    &__btn {
        @include m.boton(v.$verde, white);
        width: auto;

            &:hover {
                background-color: v.$verde;
                border: 2px solid v.$verde;
            }
    }
}